name: Test

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    environment:
      name: test
    name: Automated test action
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Unit Test
        shell: bash
        run: |
          cd src
          php test-zitcha-version-numbering.php

      - name: Functional Test
        uses: the-pistol/github-action-zitcha-version-numbering@master
        with:
          higher-version-string: "v1.9.9"
          lower-version-string: "v1.9.0"
          
